<p id="notice"><%= notice %></p>

<p>
  <strong>Table:</strong>
  <%= @game.table %>
</p>

<p>
  <strong>P1:</strong>
  <%= @game.p1 %>
</p>

<p>
  <strong>P2:</strong>
  <%= @game.p2 %>
</p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
